extends ../layouts/default

block style
	link(href="/css/dashboard.css", rel="stylesheet")

block content
	.container
		#left
			#user
			#navigation
				.title Navigation
				#requirements
					h3 
						i.ion-ios-bookmarks 
						span Subjects 
						i.toggle.ion-arrow-up-b
					.list-group.borderless.subject
						each subject in subjects
							a(href='#').list-group-item=subject.name
					h3 
						i.ion-clipboard 
						span School Divisions 
						i.toggle.ion-arrow-up-b
					.list-group.borderless
						a(href='#').list-group-item Discipline Office
						a(href='#').list-group-item Infirmary
						a(href='#').list-group-item CISD
						a(href='#').list-group-item SSD
						a(href='#').list-group-item Cashier's Office
						a(href='#').list-group-item Registrar's Office
						a(href='#').list-group-item Supply Office
			#friends
				.title Friends
				.list-group.borderless#chat
						a(href='#').list-group-item Carlo Fornoles
						a(href='#').list-group-item Hans Olano
						a(href='#').list-group-item CJ Bercasio
						a(href='#').list-group-item Bani Blaguer
						a(href='#').list-group-item June Domingo
						a(href='#').list-group-item Marco Padillo
						a(href='#').list-group-item Mico Bule
		.main
			#sub_name
				#subject
			.content
				#cover
				#information
					#requirements_list.half
						.heading
							span#headline Requirements:
							.list-group.borderless.reqs
								each requirement in requirements
									a(href="#").list-group-item
								a(href="#").list-group-item
									.check
										i.ion-plus
									span Add Requirement
					#more_details.half

		#right
	script(src="/bower_components/jquery/dist/jquery.min.js")
	script(src="/js/dashboard.js")