extends ../layouts/default

block style
	link(href="/css/dashboard.css", rel="stylesheet")

block content
	.container
		#left
			#user
			#navigation
				.title Navigation
				#requirements
					h3 
						i.ion-ios-bookmarks 
						span Sections 
						i.toggle.ion-arrow-up-b
					.list-group.borderless.signatories
						a(href='#').list-group-item Diamond
						a(href='#').list-group-item Emerald
						a(href='#').list-group-item Sapphire
						a(href='#').list-group-item Beryllium
						a(href='#').list-group-item Silicon
					h3 
						i.ion-clipboard 
						span School Divisions 
						i.toggle.ion-arrow-up-b
					.list-group.borderless.signatories
						a(href='#').list-group-item Discipline Office
						a(href='#').list-group-item Infirmary
						a(href='#').list-group-item CISD
						a(href='#').list-group-item SSD
						a(href='#').list-group-item Cashier's Office
						a(href='#').list-group-item Registrar's Office
						a(href='#').list-group-item Supply Office
			#friends
				.title Friends
				.list-group.borderless#chat
						a(href='#').list-group-item Carlo Fornoles
						a(href='#').list-group-item Hans Olano
						a(href='#').list-group-item CJ Bercasio
						a(href='#').list-group-item Bani Blaguer
						a(href='#').list-group-item June Domingo
						a(href='#').list-group-item Marco Padillo
						a(href='#').list-group-item Mico Bule
		.main
			#sub_name
				#subject
			.content
				#cover
				#information
					#more_details.half
						.heading
							span#headline Participants:
							.list-group.borderless.reqs
								a(href='#').list-group-item 
									.check
										i.ion-checkmark 
									span Hannah Patricia Cruzata
								a(href='#').list-group-item 
									.check
										i.ion-checkmark 
									span Maria Dolores Concepcion David
								a(href='#').list-group-item 
									.check
										i.ion-checkmark 
									span Rina Angela Penales
								a(href='#').list-group-item 
									.check
										i.ion-checkmark 
									span Reeka Marie Mar
								a(href='#').list-group-item 
									.check
										i.ion-checkmark 
									span Eisha Penn Lita
								a(href='#').list-group-item 
									.check
										i.ion-checkmark 
									span Lizelle Mella
								a(href='#').list-group-item 
									.check
										i.ion-checkmark 
									span Catherine Nadine Orense
								a(href='#').list-group-item 
									.check
										i.ion-checkmark 
									span Christina Joy Saludes
								a(href='#').list-group-item 
									.check
										i.ion-checkmark 
									span Kent Benedict Pelonio
								a(href='#').list-group-item 
									.check
										i.ion-checkmark 
									span Joshua Beltran
								a(href='#').list-group-item 
									.check
										i.ion-plus 
									span Add Participant
					#requirements_list.half
						.heading
							span#headline Class Requirements:
							.list-group.borderless.reqs
								a(href='#').list-group-item 
									.check
										i.ion-checkmark 
									span Requirement #1
								a(href='#').list-group-item 
									.check
										i.ion-checkmark 
									span Requirement #2
								a(href='#').list-group-item 
									.check
										i.ion-checkmark 
									span Requirement #3
								a(href='#').list-group-item 
									.check
										i.ion-checkmark 
									span Requirement #4
								a(href='#').list-group-item 
									.check
										i.ion-checkmark 
									span Requirement #5
								a(href='#').list-group-item 
									.check
										i.ion-plus 
									span New Requirement

		#right
	script(src="/bower_components/jquery/dist/jquery.min.js")
	script(src="/js/dashboard.js")