extends ../layouts/default

block content
	form(method="POST")
		input(type="text" name="first_name" placeholder="First Name" value= selectedUser ? selectedUser.first_name : '')
		input(type="text" name="last_name" placeholder="Last Name" value= selectedUser ? selectedUser.last_name : '')
		button.btn.btn-primary(type="submit")= selectedUser ? "Save User" :  "Add User"
		
	table
		thead
			tr
				td First Name
				td Last Name
				td(colspan="2") Actions
		tbody
			each user in users
				tr
					td= user.first_name
					td= user.last_name
					td: a(href="/user/" + user.id) Edit
					td: a(href="/user/" + user.id + "/delete") Delete