extends ../layouts/default

block content
    html
        head
        body
            center
                h1 Online Clearance
                h4 Insert description in the online clearance and add more stuff to make it long
                button.btn.btn-primary I am an admin
                button.btn.btn-info I am a teacher
                button.btn.btn-success I am a student