extends ../layouts/default

block style
	link(href="./css/home.css", rel="stylesheet")

block content
	.wrap
		header
			.container Welcome to Clyrd.
				#caption Clearance made easier, more efficient and enjoyable ;)
	.wrap#accessibility
		.container
			.capt.col-md-6.col-sm-6.col-sm-6.pl-55
				h1 accessibility
				p In et iaculis justo, a bibendum quam. Curabitur accumsan ullamcorper sem, vitae consectetur elit pretium in. Aliquam tempus id risus eu ullamcorper. Proin et accumsan felis, scelerisque molestie sapien.
				button.btn.btn-primary.details_button GET STARTED
			.image.col-md-5.col-sm-6.col-sm-6
				#cover_photo
				#user_avatar
				#profile_part
					#icon
						i.ion-ios-person
					h2 Anna Karina Tirao
				#title
					span#heading CLYRD
						i.ion-android-more-vertical.menu_icon
	.wrap#short
		.container

	.wrap
		.container
			.image.col-md-5.col-sm-6.col-sm-6
				#title
					span#heading CLYRD
						i.ion-android-more-vertical.menu_icon
			.capt.col-md-6.col-sm-6.col-sm-6.pl-100
				h1 accessibility
				p In et iaculis justo, a bibendum quam. Curabitur accumsan ullamcorper sem, vitae consectetur elit pretium in. Aliquam tempus id risus eu ullamcorper. Proin et accumsan felis, scelerisque molestie sapien.
