extends ../layouts/default

block style
	link(href="./css/signup.css", rel="stylesheet")

block content
	.wrap
		form(method="POST")
			h2 Choose your account type
			#acc_type
				#button_container
					label(for="user1")
						input(type='radio', id='user1', name='type', value='teacher').invisible
						.select
							i.ion-ios-people
							span.user_type Teacher
					label(for="user2")
						input(type='radio', id='user2', name='type', value='student' checked).invisible
						.select
							i.ion-ios-person
							span.user_type Student
					#or OR
			#form_proper
				input(type='text' placeholder="First Name" name="first_name").half
				input(type='text' placeholder="Last Name" name="last_name").half
				input(type='text' placeholder="Username" name="username")
				input(type='email' placeholder="Email" name="e_mail")
				select(required name="year_level").student.half#year
					option(value="", disabled, selected) Year
					each year in years
						option(value=year.id)='Grade' + year.info
				select(required name="section").student.half#section
					option(value="", disabled, selected) Section
					each section in sections
						option(value=section.id)=section.name
				input(type='password' name="password" placeholder="Password")
				input(type='password' name="confirm_password" placeholder="Retype your password")
				#have_acc Already have an account? Login 
					a(href="/login") here
				button(type='submit').btn.btn-primary.submit Sign Up For Free
				#terms By signing up you agree to our Terms of Service and Privacy Policy. 
	script(src="./bower_components/jquery/dist/jquery.min.js")
	script(src="./js/signup_front.js")