extends ../layouts/default

block content
	form(method="POST")
		label(style={display: 'block'})
			input(type="radio" name="type" value="teacher")
			span teacher
		label(style={display: 'block'})
			input(type="radio" name="type" value="student")
			span student
		input(type="text" name="first_name" placeholder="first name")
		input(type="text" name="last_name" placeholder="last name")
		input(type="text" name="e_mail" placeholder="e-mail")
		input(type="text" name="username" placeholder="username")
		input(type="password" name="password" placeholder="password")
		input(type="password" name="confirm_password" placeholder="confirm password")
		button(type="submit") signup

